body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
  
#cesiumContainer {
  width: 99%;
  height: 100%;
}

.myPanel {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1000;
}

.myOutputPanel {
  position: absolute;
  top: 5px;  
  right: 5px;
  width: 500px;
  z-index: 1000;
}


/*.myOutputPanel .property-name {
  width: 300px; 
  overflow: visible; 
  text-overflow: ellipsis; 
  white-space: normal; 
}

.myOutputPanel .property-value {
  width: 200px;
  overflow: visible;
  text-overflow: ellipsis; 
  white-space: normal; 
}

